.sidebar_container {
    height: 700px;
    transform: translateX(-20px);
    animation: fadeInRight 0.5s forwards;
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar_container ul.nav-pills li a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}
.sidebar_container ul.nav-pills li a.active {
    background-color: #007bff; /* Change to desired active link color */
}

/* Style the submenu links */
.sidebar_container ul.nav-pills ul li a {
    padding-left: 30px; /* Adjust spacing for submenu links */
}
