{% extends 'base.html' %}

{% block title %}Home - Travel Website{% endblock %}

{% block content %}
<style>
    button {
        cursor: pointer;
    }
</style>

{% if slug and not is_category_wise %}
    {% for all_destination in destinations_test %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/nature.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ all_destination.slug }}</h5>
                    <p class="card-text">{{ all_destination.description }}</p>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for category_data in unique_categories %}
                <li class="nav-item p-1" role="presentation">
                    <button class="nav-link" 
                            id="{{ category_data.name|lower }}-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#{{ category_data.name|lower }}" 
                            type="button" 
                            role="tab" 
                            aria-controls="{{ category_data.name|lower }}" 
                            aria-selected="false"
                            data-destination-id="{{ all_destination.id }}"
                            data-category-id="{{ category_data.id }}">
                        {{ category_data.name }}<span class="{{ category_data.name|lower }}-count"></span>
                    </button>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for category_data in unique_categories %}
                <div class="tab-pane" id="{{ category_data.name|lower }}" role="tabpanel" aria-labelledby="{{ category_data.name|lower }}-tab">
                    <div class="row" style="margin-top:10px" id="{{ category_data.name|lower }}-experiences-container">
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% elif not slug and not is_category_wise%}
    <div class="container-fluid">
        <div class="col-md-12 text-center">
            <h3>Top Destinations</h3>
        </div>

        <div class="row" style="margin-top:10px">
            {% for all_destination in all_destinations.items %}
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ all_destination.categories.image) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ all_destination.slug }}</h5>
                            <p class="card-text">{{ all_destination.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                {% for page_num in all_destinations.iter_pages() %}
                    {% if page_num %}
                        <li class="page-item{% if page_num == all_destinations.page %} active{% endif %}">
                            <a class="page-link" href="{{ url_for('all_destinations', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% elif is_category_wise %}
    <div class="col-md-12 text-center">
      <h3>{{ slug|capitalize }}</h3>
    </div>
    <div class="row" style="margin-top: 10px;">
      {% for destination_by_category in destinations_by_category %}
        <div class="col-md-3 mb-4">
          <div class="card" style="width: 18rem;">
            <a href="{{ url_for('destination_by_slug', slug=destination_by_category.slug) }}">
                <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ destination_by_category.image) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ destination_by_category.slug }}</h5>
                    <p class="card-text">{{ destination_by_category.description }}</p>
                </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endif %}
<script>
    $(document).ready(function() {
        $('#myTab button').on('click', function (e) {
            e.preventDefault();
            var destinationId = $(this).data('destination-id');
            var categoryId =  $(this).data('category-id');
            var categoryName = $(this).contents().filter(function() {
                return this.nodeType === 3;
            }).text().trim();
            var self = $(this);
            $.ajax({
                type: 'POST',
                url: '/ajax/experiences',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ destination_id: destinationId, category_id: categoryId }),
                dataType: 'json',
                success: function(response) {
                    var experiencesHtml = '';
                    for (var i = 0; i < response.experiences.length; i++) {
                        var imageUrl = "{{ url_for('static', filename='images/') }}" + response.experiences[i].image;
                        var experienceSlug = "{{ url_for('experience_by_slug', slug='') }}" + response.experiences[i].slug;
                        experiencesHtml += '<div class="col-md-3 mb-4">';
                        experiencesHtml += '<a href="' + experienceSlug + '" class="card-link">';
                        experiencesHtml += '<div class="card" style="width: 18rem;">';
                        experiencesHtml += '<img class="card-img-top" src="' + imageUrl + '" alt="Card image cap">';
                        experiencesHtml += '<div class="card-body">';
                        experiencesHtml += '<h5 class="card-title">' + response.experiences[i].slug + '</h5>';
                        experiencesHtml += '<p class="card-text">' + response.experiences[i].description + '</p>';
                        experiencesHtml += '</div></div></a></div>';
                    }
                    $('.' + categoryName.toLowerCase() + '-count').html('(' + response.experiences.length + ')');
                    $('#' + categoryName.toLowerCase() + '-experiences-container').html(experiencesHtml);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });

            $('.tab-pane').removeClass('active show');
            $('#' + categoryName.toLowerCase()).addClass('active show');
            $('#myTab button').removeClass('active');
            $(this).addClass('active');
        });
        $('#myTab button:first').click();
    });
   
</script>
{% endblock %}
