{% extends 'base.html' %}

{% block title %}Home - Travel Website{% endblock %}

{% block content %}
  {% if slug and not is_category_wise %}
    {% for experience in experiences_test %}
          <img class="slider_image" src="{{ url_for('static', filename='images/slider_city.jpeg') }}" alt="Card image cap">
          <div class="centered">{{ experience.name }}</div>
          <div class="container-fluid">
            <hr>
            <p class="card-text">{{ experience.description }}</p>
          </div>
    {% endfor %}
    <hr>
    <div class="container-fluid">
      <div class="col-md-12 text-center">
          <h3>Explore other experiences</h3>
      </div>
      <div class="row other_destinations_div" style="margin-top:10px">
          {% for other_experience in other_experiences %}
              <div class="col-md-3 mb-4">
                  <div class="card" style="width: 18rem;">
                      <a href="{{ url_for('experience_by_slug', slug=other_experience.slug) }}">
                          <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ other_experience.categories.image) }}" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">{{ other_experience.slug }}</h5>
                          </a>
                          <p class="card-text read_more_content">{{ other_experience.description }}</p>
                          <a href="javascript:void(0)" class="read_more_button">Read More</a>
                          </div>
                      
                  </div>
              </div>
          {% endfor %}
      </div>
   </div>
  {% elif not slug and not is_category_wise %}
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <h3>Top Experiences</h3>
      </div>

      <div class="row" style="margin-top: 10px;">
        {% for experience in experiences_pagination.items %}
          <div class="col-md-3 mb-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='images/nature.jpeg') }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ experience.slug }}</h5>
                <p class="card-text">{{ experience.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="pagination justify-content-center">
        <ul class="pagination">
          {% for page_num in experiences_pagination.iter_pages() %}
            {% if page_num %}
              <li class="page-item{% if page_num == experiences_pagination.page %} active{% endif %}">
                <a class="page-link" href="{{ url_for('all_experiences', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
{% elif is_category_wise %}
    <div class="col-md-12 text-center">
      <h3>{{ slug|capitalize }}</h3>
    </div>
    <div class="row" style="margin-top: 10px;">
      {% for experience_by_category in experiences_by_category %}
        <div class="col-md-3 mb-4">
          <div class="card" style="width: 18rem;">
               <a href="{{ url_for('experience_by_slug', slug=experience_by_category.slug) }}">
                <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ experience_by_category.image) }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ experience_by_category.slug }}</h5>
              </a>
                <p class="card-text read_more_content">{{ experience_by_category.description }}</p>
                <a href="javascript:void(0)" class="read_more_button">Read More</a>
              </div>
          
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <script>
    
    function loadReadMore() {
        var maxWordsInitially = 20;
        $('.read_more_button').on('click', function () {
            var content = $(this).prev('.read_more_content');
            var words = content.data('original-text').split(' ');

            if ($(this).hasClass('less')) {
                content.html(words.slice(0, maxWordsInitially).join(' ') + '...');
                $(this).text('Read More');
                $(this).removeClass('less');
            } else {
                content.html(words.join(' '));
                $(this).text('Read Less');
                $(this).addClass('less');
            }
        });
        $('.read_more_content').each(function () {
            var content = $(this);
            var words = content.text().split(' ');

            if (words.length > maxWordsInitially) {
                content.data('original-text', content.text());
                content.html(words.slice(0, maxWordsInitially).join(' ') + '...');
                content.next('.read_more_button').show();
            }
        });
    }
    loadReadMore();
  </script>
{% endblock %}
